<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
    <!-- <link rel="stylesheet" href="./style.css"> -->

</head>
<body>
    <center>
        <h2>Here is your post Details</h2>
        <p class="user">Post id : <%= post.id %> </p>

        <div class="view"> 
            <h3 class="user "> @ <%= post.username %> </h3>
            <h4 class="content" > <%= post.content %> </h4>
        </div>


    </center>
</body>
</html>